<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<link th:rel="stylesheet" th:href="@{/css/style.css}"/>
<title>Pizza dettaglio</title>
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>
	<main class="container" th:object=${pizza}>
	
		<h4 class="mb-3 text-center">Dettagli della pizza [[ *{name} ]]</h4>
		<div class="row align-items-center">
		<div class="col-md-6">
				<p><span class="fw-bold">Nome: </span>[[ *{name} ]]</p>
				<p><span class="fw-bold">Descrizione: </span>[[ *{description}]]</p>
				<p><span class="fw-bold">Prezzo: </span>[[ *{price} ]]&euro;</p>
				<div class="d-inline" th:each="spo : ${specialOffers}" th:if="${spo.pizza.id == pizza.id}" >
					<span class="fw-bold">Prezzo scontato: </span>		
					<span class="text-success fw-bold" th:text="| ${spo.discount}&euro;|"></span>
					<br>
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-center">
					<p><span class="fw-bold">Foto</span></p>
					<img class="img-fluid" th:alt="|*{name} image|" th:src="*{imageUrl}">
				</div>
			</div>
		</div>
	</main>

	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>